<div class="row">
  <div class="column">
    <h1 id="index-page">Join a Game</h1>
    <input type="text" id="game_name"/>
    <button onclick="mygame()">Start</button>
    <script type="text/javascript">
      function mygame(){
        input = document.getElementById("game_name").value;
        window.location = "http://memory2.elephantdong.com/game/" + (input);
    }
    </script>
  </div>
</div>